@use 'css_reset'
@use 'flex'
@use 'font'
@use 'grid'
@use 'rtf_content'
@use 'variables'

html, body
	width: 100%
	min-height: 100%
	margin: 0
	padding: 0
	box-sizing: border-box
	border: none
	outline: none
	background: var(--page-bg)
	accent-color: var(--clr-accent)
	transition: background-color var(--trans)
	text-rendering: geometricPrecision
	-webkit-font-smoothing: subpixel-antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%
	color: var(--font-base-clr)
	font-size: var(--font-base-size)
	font-family: var(--font-base-stack)
	font-weight: var(--font-base-weight)

html:focus-within
	scroll-behavior: smooth

[lock-scroll='true']
	overflow: hidden !important

hr.seperator
	border: none
	border-top: var(--seperator-top)
	border-bottom: var(--seperator-bot)

.modal-container
	z-index: 100
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow-y: auto
	contain: contain
	> .background
		z-index: -1
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: var(--overlay-bg)

// Icons .......................................................................

.icon
	contain: content
	width: 1em
	height: 1em
	--icon: var(--font-base-clr)
	--thickness: 4
	&.colored
		&-icon-error
			--icon-bg: var(--clr-red)
			--icon-border: var(--clr-red-darker)
			--icon-symbol: #fff
	&-075
		width: 0.75em
		height: 0.75em
	&-15
		width: 1.5em
		height: 1.5em
	&-175
		width: 1.75em
		height: 1.75em

.icon-thinner
	--thickness: 2
.icon-thicker
	--thickness: 8
.icon-thick
	--thickness: 14
